@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Finger+Paint');
@import url('https://fonts.googleapis.com/css?family=VT323');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.loading-bar
{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 4px;
    background: #ffffff;
    transform: scaleX(0.3);
    transform-origin: top left;
    transition: transform 0.5s;
}


.loading-bar.ended
{
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

.pointMenu
{
    position: absolute;
    top: 50%;
    left: 50%;
}

.pointMenu:hover .text
{
    opacity: 1;
}

.pointMenu.visible .label
{
    transform: scale(1, 1);
}

.pointMenu .label
{
    position: absolute;
    background-color: transparent;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background: #00000077; */
    color: #ffffff;
    font-family: 'Finger Paint', cursive;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 24px;
    cursor: help;
    transform: scale(0, 0);
    transition: transform 0.3s;   
}

.pointMenu .text
{
    position: absolute;
    top: 30px;
    left: -120px;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background: #00000077;
    color: #ffffff;
    line-height: 1.3em;
    font-family: 'Finger Paint', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}


.point
{
    position: absolute;
    top: 50%;
    left: 50%;
}

.point:hover .text
{
    opacity: 1;
}

.point.visible .label
{
    transform: scale(1, 1);
}

.point .label
{
    position: absolute;
    background-color: transparent;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00000077;
    line-height: 40px;
    font-weight: 100;
    font-size: 24px;
    cursor: help;
    transform: scale(0, 0);
    transition: transform 0.3s;   
}

.point .text
{
    position: absolute;
    top: 30px;
    left: -120px;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background: #00000077;
    color: #ffffff;
    line-height: 1.3em;
    font-family: 'Finger Paint', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}


.buttonReturn {
    border-radius: 4px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Finger Paint', cursive;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    transform: scale(0, 0);
  }
  
  .buttonReturn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonReturn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonReturn:hover span {
    padding-right: 25px;
  }
  
  .buttonReturn:hover span:after {
    opacity: 1;
    right: 0;
  }

  .buttonReturn.visible
  {
      transform: scale(1, 1);
  }



.sign {
  position: fixed;
  bottom: 2vmin;
  right: 2vmin;
  background-color: transparent;
}
  
.sign-text {
    font-family: 'Finger Paint', cursive;
    font-size: 2vmin;
    text-transform: uppercase;
    color: #fff;
}

.instructions {
  position: fixed;
  top: 2vmin;
  right: 2vmin;
  background-color: transparent;
}
  
.instructions-text {
    font-family: 'Finger Paint', cursive;
    font-size: 2vmin;
    text-transform: uppercase;
    color: #fff;
}